@tailwind base;

* {
  -webkit-tap-highlight-color: transparent;
}

@tailwind components;

.logo {
  top: 1rem;
  left: 1rem;
}

.main-panel {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.right {
  width: 33%;
}

.left {
  width: 66%;
}

.chart {
  border-radius: 1.5rem;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.search i {
  left: 0;
}

.search-input {
  width: 100%;
}

.navigation {
  width: 20%;
}

.user {
  width: 30%;
}

.statistics {
  border-radius: 1rem;
}

.bell-icon .notification {
  top: 3px;
  right: 0;
  font-size: 15%;
}

.circle-1 {
  position: relative;
}

.circle-2 {
  position: absolute;
  top: 25%;
  left: 75%;
}

.circle-3 {
  position: absolute;
  top: 50%;
  right: 65%;
}

.circle-4 {
  position: absolute;
  top: -135%;
  left: 100%;
}

.wrapper {
  border-radius: 1rem;
}

@tailwind utilities;

:focus {
  outline: 0 !important;
}
