@tailwind base;

* {
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: 0;
}

@tailwind components;

.logo {
  top: 1rem;
  left: 1rem;
}

.main-panel {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.search i {
  left: 13%;
}

.search-input {
  width: 75%;
}

.navigation {
  width: 20%;
}

.user {
  width: 30%;
}

.bell-icon .notification {
  top: 3px;
  right: 0;
  font-size: 15%;
}

@tailwind utilities;
